{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "Stone Challenge API",
    "description": "This API was developed as part of a challenge for a job position in Stone",
    "contact": {
      "name": "Pedro Octávio Silva Novoa",
      "url": "https://github.com/PedroNovoaDev",
      "email": "pedronovoa.21@gmail.com"
    }
  },
  "host": "jajcaezm7x.us-east-1.awsapprunner.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "paths": {
    "/add-new-user": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Creates a new user with name and password.",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "example": "any"
                },
                "name": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/search-user-by-id": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Searchs DynamoDB for a existing user by his ID.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          },
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/show-ton-visit-count": {
      "get": {
        "tags": [
          "Count"
        ],
        "description": "Show Ton website visit count at the moment of the call",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/increment-ton-visit-count": {
      "get": {
        "tags": [
          "Count"
        ],
        "description": "Increment Ton website visit count at the moment of the call.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}